.parallax-bg {
  background: linear-gradient(0deg,rgba(60, 46, 89, 0.91),rgba(60, 46, 89, 0.91)), url('../../assets/images/nff-bg-image.jpg');
  background-size: cover;
  z-index: 999;
}

.react-parallax-bgimage {}