.order-details {
  background-color: #f2f2f2;
  padding: 28px 32px 32px 32px;
}

.cart-container {
  min-height: 100vh;
  height: 640px;
}

.cart-header {
  text-align: left;
}

.cart-item {
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.cart-Subtotal {
  color: #666666;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px; 
}

.cart-total {
  color: #666666;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 24px; 
}

.cart-amount {
  float: right;
}

.place-order-button {
  font-size: 1.1rem !important;
  cursor: pointer;
}

.order-complete {
  text-align: center;
  margin-top: 8px;
  font-size: 20px;
}

.emptyCartTxt.container {
  margin-top: 60px;
  font-size: 18px;
  color: #666666;
}

.return-to-shop {
  display: block !important;
  margin-top: 15px!important;
  width: 200px!important;
  color: #666666!important;
  font-weight: bold!important;
  border-radius: 5px;
  text-align: center;
  padding: 13px;
  text-transform: uppercase!important;
  background-color: #c4c4c4!important;
  border: none!important;
}

.return-to-shop:hover {
  color: #fff!important;
  background-color: #55b96a!important;
  text-decoration: none;
}

.width-100{
  width: 100%;
  margin-bottom: 0;
}

.cartImages > #sPImg {
  /* width: 65px; */
}

.cartItemsCSS {
  padding: 20px 0 20px 0;
  text-align: left;
  border-bottom: 1px solid #d4d4d4;
}

.cartItemsCSS > span {
  display: none;
}

.cartItemsCSS > .col-sm-4, .cartItemsCSS > .col-sm-2 {
  align-self: center;
}

.cartItemsCSS .product-title {
  color: #55B96A;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  padding-top: 18px;
}

.cartItemsCSS .product-title:hover {
  cursor: pointer !important;
  color: #66DE80 !important;
  transition: 0.3s;
}

.price {
  padding-top: 24px;
}

.cartItemsCSS .price {
  color: #666666;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 0 !important;
}

.cartSubTotalAmount {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  margin-top: 20px;
}

.cartTotalAmount {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  line-height: 24px;
}

#cartPlaceOrderBtn {
  margin-top: 20px;
  width: 100%;
}

.cartFlexBox {
  display: flex;
  background: #c9f7b2;
  align-items: center;
  padding: 15px;
}

.flexButton {
  margin-left: auto;
}

.flexButton > .btn.btn-primary {
  background: #fff;
  color: #666666;
}

.actions {
  text-align: left;
  padding-top: 14px;
}

.actions svg {
  fill: #d4d4d4;
}

.actions svg:hover {
  fill: #666666;
  cursor: pointer;
}

.quantity-container {
  padding-top: 16px;
}

.react-numeric-input {
  border-radius: 0.3rem !important;
}

/* React-Numeric-Input overrides */
.react-numeric-input input {
  /* min-height: 80%; */
  border: none !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset !important;
  box-sizing: border-box;
  width: 4rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 0.8rem;
}

.react-numeric-input input:focus {
  border: 2px solid #55b96a !important;
  transition: 0.1s !important;
}

.react-numeric-input b {
  margin-top: 2px !important;
  height: 1.0rem !important;
  background-color: #f2f2f2 !important;
  cursor: pointer !important;
  box-shadow: none !important;
  border: none !important;
}

.react-numeric-input b:hover {
  background-color: #d4d4d4 !important;
}

.react-numeric-input i:hover {
  color: #55b96a !important;
}