.order-details {
  background-color: #f2f2f2;
  padding: 28px 32px 32px 32px;
}
.cart-item {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.cart-Subtotal {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px; 
}
.cart-total {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 24px; 
}
.cart-amount {
  float: right;
}

.place-order-button {
  font-size: 1.1rem !important;
  cursor: pointer;
}