/* Details */
.nav-tabs {
  margin-top: 45px;
  margin-bottom: 20px;
}
.nav-link {
  color: #55B96A !important;
  border-top: 2px solid #55B96A !important;
  border-radius: 0 !important;
}

.productImg {
  position: relative !important;
  width: 60%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.quantity {
  vertical-align: middle;
  margin-right: .5rem;
  display: inline-block;
}
.qty {
  width: 4rem;
  line-height: 2.8rem;
  height: 2.8rem;
  padding: 0 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 2px transparent, 0 1px 0 rgba(0,0,0,0.08) inset;
  transition: all 0.3s;
  outline: none !important;
  color: #666666;
  background-color: #f2f2f2;
  vertical-align: top;
  text-transform: none;
  font: inherit;
  border: none;
  margin: 0;
}
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
}
.product-title {
  color: #0D238E;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0em;
}
.price {
  color: #0D238E;
  font-size: 1.6rem;
  font-weight: 700;
}
.product_meta {
  margin-top: 24px;
}
