.container {
  /* background-color: #f4f4f4; */
  /* margin-left: 160px;
  margin-right: 160px;  */
  /* padding-top: 50px; */
}

.border {
  border-style: solid;
  border-color: black;
  border-top: 10px;
  border-width: 100%;
}

.lineGap{
  margin-bottom: -15px;
}

.headline {
  color: #0d238e;
  font-size: 40px;
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 0em;
}

.subtitle {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 24px;
  width: 80%;
}

.headlineWrapper {
  margin: 0 auto;
}

.headlineContainer {
  position: absolute;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container img{
  position: absolute;
}

.reframe{
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.reframe img{
  height: auto;
  width: 100%;
}

.parallax {
  /* The image used */
  background-image: url("../../assets/images/Background-Image.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container2 {
  padding-top: 50px;
  justify-content: center;
  background-color: #f4f4f4;
}

.autosuggestWrapper {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.video {
  padding-top: 15px;
  justify-content: center;
  display: flex;
  background-color: #f4f4f4;
  border: 4px solid #f4f4f4;
}

.video-title {
  font-size: 28px;
  font-weight: 700 !important;
  color: #0d238e;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

#homeAddressSuggest::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3b3b3b;
}

#homeAddressSuggest::-moz-placeholder { /* Firefox 19+ */
  color: #3b3b3b;
}

#homeAddressSuggest:-ms-input-placeholder { /* IE 10+ */
  color: #3b3b3b;
}

#homeAddressSuggest:-moz-placeholder { /* Firefox 18- */
  color: #3b3b3b;
}

.right-product-title {
  text-transform: uppercase;
  padding-right: 100px;
  text-align: left;
  font-weight: 700 !important;
  color: #0d238e;
}

.left-product-title {
  text-transform: uppercase;
  padding-left: 100px;
  text-align: right;
  font-weight: 700 !important;
  color: #0d238e;
}

.check-marks {
  color: #55b96a;
  margin: 0 auto;
  display: block;
}

.check-marks:hover {
  fill: #55b96a !important;
}
