.addresses-container {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #666666 !important;
  font-weight: 500 !important;
}

.title {
  color: #0D238E;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
}