/* CartDropdown.css */
.cart-link-wrapper {
  position: relative;
  display: inline;
}

.cart-icon {
  font-size: 22px !important;
  fill: #666666 !important;
}

.cart-icon:hover {
  cursor: pointer !important;
}

.cart-icon:hover {
  fill: #0D238E !important;
  transition: 0.3s !important;
}

.cart-counter {
  font-size: 11px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  min-width: 20px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  border-radius: 2rem;
  border: 1px solid #0D238E;
  background-color: #0D238E;
  box-sizing: border-box;
  z-index: 99 !important;
  position: absolute;
  padding: 0 4px;
  transition: transform 0.3s;
  bottom: 38px !important;
  left: 28px !important;
}

.cart-custom-dropdown {
  display: inline;
  font-size: 22px;
  vertical-align: bottom;
  font-weight: 900;
  line-height: inherit;
}

.cart-custom-dropdown:hover {
  fill: #0D238E !important;
  cursor: pointer;
}

.cart {
    fill: #666666;
}

.cart-popover-menu {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  min-width: 22rem !important;
  z-index: 999 !important;
  right: 0;
  padding: 30px;
  border: none !important;
  border-radius: 0;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  background: #fff;
  transition: all 0.3s ease-in !important;
}

.cart-item-img {
  height: 42px;
  width: 42px;
}

.cart-item-title {
  color: #55B96A !important;
  font-size: 16px;
}

.cart-item-title:hover {
  color: #66de80 !important;
  cursor: pointer !important;
  transition: 0.5s;
}

.cart-item-close-action {
  fill: #d4d4d4;
}

.cart-item-close-action:hover {
  fill: #666666;
  cursor: pointer !important;
}

.secondary-btn {
  background-color: #c4c4c4;
  color: #ffffff;
}

.secondary-btn:hover {
  background-color: #666666;
  color: #ffffff;
}

.popover-container {
  border: none !important;
  padding: 30px 12px 30px 12px !important;
  vertical-align: top;
  border-top: none !important;
  position: relative;
  display: inline;
}

.view-cart-btn {
  background-color: #c4c4c4;
  width: 100%;
  margin-bottom: 5px;
}

.view-cart-btn:hover {
  background-color: #66DE80;
  color: #fff;
  transition: 0.3s;
}

/* 
 * Begin CSS classes for ReactCSSTransition Library
 * Depends on having react-transition-group library in CartDropdown.js
 * These give the cartdropdown menu it's transition effects.
*/
.cartdropdown-menu-enter {
  opacity: 0;
}

.cartdropdown-menu-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.cartdropdown-menu-exit {
  opacity: 1;
}

.cartdropdown-menu-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
/* EOF classes for ReactCSSTransition Library */