#phone-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  background-color: #f2f2f2;
  line-height: 2.8rem;
  height: 2.8rem;
  padding: 0 0.8rem;
}

.recommendation-parallax {
  /* background: linear-gradient(0deg,rgba(243, 243, 243, 0.60),rgba(243, 243, 243, 0.60)); */
  /* background: linear-gradient(0deg,rgba(50, 35, 73, 0.91),rgba(50, 35, 73, 0.91)); */
  background: linear-gradient(
      0deg,
      rgba(22, 22, 63, 0.9),
      rgba(22, 22, 63, 0.9)
    ),
    url("../../../assets/images/nff-bg-image.jpg");
  background-size: cover;
}

.category-pill-wrapper {
  color: #000;
  margin: 0 auto;
  padding: 0 0 10px 14px;
}

.category-pill {
  padding: 10px 14px 10px 14px;
  text-align: center;
}

@media only screen and (max-width: 663px) {
  .category-pill-wrapper {
    margin: 0 auto;
    max-width: 700px;
  }
}

@media only screen and (max-width: 574px) {
  .category-pill-wrapper {
    margin: 0 auto;
    max-width: 360px;
  }
}

#recommendation-spinner {
  color: #fff !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 50%;
}

#img-spinner {
  color: #fff !important;
  display: inline-block;
  top: 100;
  bottom: 0;
  right: 50;
  left: 50;
}

.spinner-wrapper {
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(22, 22, 63, 0.9),
      rgba(22, 22, 63, 0.9)
    ),
    url("../../../assets/images/nff-bg-image.jpg");
  background-size: cover;
}

.spinner-container {
  position: fixed !important;
  top: 100;
  bottom: 100;
  left: 100;
  right: 100;
}
