html {
  scroll-behavior: smooth;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}

/* Headers */
h2 {
  color: #0d238e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h3 {
  color: #0d238e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h4 {
  color: #0d238e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h5 {
  color: #0d238e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
h6 {
  color: #0d238e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}


/* primary button  */
.btn-primary {
  vertical-align: middle;
  background-color: #55B96A;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.8;
  padding: 0 1.8em;
  letter-spacing: 0em;
  border: none;
}
.btn-primary:hover {
  background-color: #66de80;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #66de80;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #66de80;
  box-shadow: none;
}
.btn-primary:disabled {
  background-color: #c4c4c4!important;
}
.btn-primary:focus {
  background-color: #66de80;
  box-shadow: none;
}

/* Primary input  */
.form-label {
  font-weight: bold;
  color: #666666;
  margin-bottom: 0.3rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.form-control {
  background-color: #f2f2f2 !important;
  line-height: 2.8rem;
  height: 2.8rem;
  padding: 0 0.8rem;
}
.form-control:focus {
  border-color: #55B96A !important;
  border-width: 2px;
  box-shadow: none
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #acacac;
  opacity: 1; /* Firefox */
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #acacac;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #acacac;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #acacac;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #acacac;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  align-self: flex-start; /* <-- this is the fix */
  z-index: 99;
}
.error {
  z-index: 999;
  width: 90%;
  top: 5px;
  margin: 5px auto;
}
/* For pagination tabel on orders and other pages  */
.react-bootstrap-table-pagination-list-hidden {
  display: none;
}

/**
 * IFRAME
 */
iframe {
  width: 100%;
  min-height: 1280px; 
  /* height: 1440px; */
  border: none;
  margin: 0;
  padding: 0;
}