.navbar {
    padding: 0;
}

.grid {
    width: 100%;
    border-bottom: 8px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #0d238e;
    border-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Headercontainer {
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #0d238e;
    border-top: 10px;
    border-width: 100%;
}

.MFS-Logo {
    width: 240px;
    height: 80px;
}

.header {
    margin: 0 auto;
    max-width: 1380px;
    transition: 0.5s;
    display: flex;  
    align-items: center;
    border-bottom: 20px;
    padding-top: 1px;
    padding-left: 100px;
    width: 100%;
}

.cart-custom-dropdown {
    display: inline;
    fill: #666666;
    font-size: 22px;
}

.cart-custom-dropdown:hover {
  fill: #0D238E !important;
  cursor: pointer;
}

.cart {
    fill: #666666;
}

.header-link {
    margin: 18px;
    text-decoration: none;
    color: #666666;
    font-size: 18px;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    transition: 0.5s !important;
    color: #66de80 !important;
    cursor: pointer !important;
}

a:active {
    text-decoration: underline;
}

.linkPosition{
    padding-right: 100px;
}

.test{
    background-color: black;
    border-bottom: 20px;
    border-color: black;
}

.links2{
    color: #55B96A;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

.links2logo {
    /* width: 150px; */
    width: 50px;
    margin-left: 12px;
}

.headerBottom {
    width: 100%;
    border-bottom: 8px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #0d238e;
    border-top: 10px;
    padding: 6px 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.cart-icon {
    font-size: 24px;
}

.cartIcon:hover {
    color: rgb(0, 0, 139);
}

.cartBadge {
    color: #fff;
    border-radius: 100px;
    background-color: rgb(0, 0, 139);
    z-index: 9999;
    position: relative;
    left: -10px;
    top: -10px;
}

.cart-popover-menu {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    max-width: 20rem;
    margin-top: 11px;
    padding: 20px;
    border: none !important;
    border-radius: 0;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transform: 0.3s;
    opacity: 0.3s;
}

.cart-item-img {
    height: 42px;
    width: 42px;
}

.cart-item-title {
  color: #55B96A !important;
  font-size: 16px;
}

.cart-item-title:hover {
  color: #66de80 !important;
  cursor: pointer !important;
  transition: 0.5s;
}

.cart-item-close-action {
  fill: #d4d4d4;
}

.cart-item-close-action:hover {
  fill: #666666;
  cursor: pointer !important;
}

.secondary-btn {
    background-color: #c4c4c4;
    color: #ffffff;
}

.secondary-btn:hover {
    background-color: #666666;
    color: #ffffff;
}