.parallax-content {
  background: linear-gradient(0deg,rgba(73, 73, 73, 0.91),rgba(73, 73, 73, 0.91));
}

.carousel-wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.carousel {
  border-color: #55B96A;
  color: #55B96A;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-control-prev {
}

.carousel-control-next {
}

.carousel-item {
  height: 40vh;
}

/*
.carousel-caption {
  top: 0;
  margin: 0 auto;
}
*/

.carousel-caption-header {
  padding-top: 50px;
  color: #ebebeb;
  font-size: 34px;
  line-height: 1.4em;
  letter-spacing: 0em;
  font-weight: 700;
  text-align: center;
}

hr {
  width: 980px;
  border: 1px solid rgb(85, 185, 106);
}

.carousel-caption-body {
  padding: 10px 0 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.carousel-caption-footer {
  padding: 20px 0 20px 0;
  font-size: 16px;
}

.testimonial-author {
  font-weight: 700;
  font-size: 16px;
}